version: "3.8"

services:
  expo-app:
    build: .
    stdin_open: true
    tty: true
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "8081:8081"
    environment:
      - EXPO_DEVTOOLS_LISTEN_ADDRESS=0.0.0.0
